.product-detail-container {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.product-images {
  display: flex;
}

.product-info{
  color: #422916;
  border: #422916;
}

.main-image-container {
  flex-grow: 1;
  padding-right: 20px;
}

.thumbnail-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: start;
}

.thumbnail {
  width: 80px;
  height: 80px;
  border: 1px solid #845F46;
  border-radius: 4px;
  cursor: pointer;
}

.thumbnail.active {
  opacity: 1;
  border: 2px solid #845F46;
}

.product-info {
  flex: 2;
  padding: 20px;
  border: 1px solid #422916;
  border-radius: 4px;
}

.product-sizes {
  margin-top: 20px;
}

.product-sizes button {
  margin-right: 10px;
  padding-left: 1rem;
  margin-left: 1rem;
  padding: 10px;
  border: 1px solid #845F46;
  background-color: #845F46;
  color: #F5DFC7;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: #422916;
    color: #F5DFC7;
  }
}

.product-sizes button.selected {
  background-color: #422916;
  color: #F5DFC7;
}

.quantity-controls {
  display: flex;
  align-items: center;
  margin-top: 20px;

  button {
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #422916;
    border-radius: 4px;
    cursor: pointer;
  }
}

.add-to-cart {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #845F46;
  color: #F5DFC7;

  &:hover {
    background-color: #422916;
    color: #F5DFC7;
  }
}
