
// Estilos generales de la pagina con un margen para que la navbar no tape el contenido general
// Hiddear la carta mientras no este abierta
// y laanimacion de carte con el desenfoque


.mt-navbar {
  margin-top: 90px;
}
body.cart-open {
  overflow: hidden;
}

body.cart-open .main-content,
body.cart-open .popup-container {
  backdrop-filter: blur(5px);
  transition: backdrop-filter 0.3s ease-in-out;
}
